<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Forum</span>
    <span class="example-spacer"></span>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onHomeClick()">Home</button>
        <button mat-menu-item *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_MODERATOR'"
            (click)="onControlClick()">Control</button>
        <button mat-menu-item *ngIf="role == 'ROLE_ADMIN'" (click)=" onAccountsClick()">Accounts</button>
        <button mat-menu-item (click)="onLogoutClick()">Log out</button>
    </mat-menu>
</mat-toolbar>