.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;

}

mat-card-content {
  padding: 25px;
  /* Padding inside the card content */
}

button[mat-flat-button] {
  margin-top: 20px;
  margin-bottom: 20px;
}