<app-toolbar></app-toolbar>
<div class="home-container">
    <div class="image-gallery">
        <a href="area/Science" class="gallery-item">
            <div class="image-title">Science</div>
            <img src="assets/science.jpg" alt="Image 1" class="gallery-image">
        </a>
        <a href="area/Culture" target="_blank" class="gallery-item">
            <div class="image-title">Culture</div>
            <img src="assets/culture.jpg" alt="Image 2" class="gallery-image">
        </a>
        <a href="area/Sport" target="_blank" class="gallery-item">
            <div class="image-title">Sport</div>
            <img src="assets/sport.jpg" alt="Image 3" class="gallery-image">
        </a>
        <a href="area/Music" target="_blank" class="gallery-item">
            <div class="image-title">Music</div>
            <img src="assets/music.jpg" alt="Image 4" class="gallery-image">
        </a>
    </div>
</div>